# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # Autoconfigure handlers to use their respective buses
    _instanceof:
        App\Application\MessageBus\CommandHandlerInterface:
            tags:
                - { name: messenger.message_handler, bus: command.bus }

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # MongoDB Client
    MongoDB\Client:
        arguments:
            - '%env(MONGODB_URL)%'

    # MongoDB Collections
    mongodb.collection.events:
        class: MongoDB\Collection
        factory: ['@MongoDB\Client', 'selectCollection']
        arguments:
            - '%env(MONGODB_DATABASE)%'
            - 'events'

    mongodb.collection.users:
        class: MongoDB\Collection
        factory: ['@MongoDB\Client', 'selectCollection']
        arguments:
            - '%env(MONGODB_DATABASE)%'
            - 'users'

    # Event Store (MongoDB implementation wrapped with dispatcher)
    App\Infrastructure\Persistence\MongoDB\MongoEventStore:
        arguments:
            $collection: '@mongodb.collection.events'

    App\Domain\Common\EventStore\EventStoreInterface:
        class: App\Infrastructure\Persistence\EventStore\DispatchingEventStore
        arguments:
            $inner: '@App\Infrastructure\Persistence\MongoDB\MongoEventStore'
            $eventBus: '@event.bus'

    # Read Models
    App\Infrastructure\Persistence\MongoDB\MongoUserReadModel:
        arguments:
            $collection: '@mongodb.collection.users'

    App\Domain\User\UserReadModelInterface:
        alias: App\Infrastructure\Persistence\MongoDB\MongoUserReadModel

    # Projections
    App\Infrastructure\Projection\UserProjection:
        arguments:
            $collection: '@mongodb.collection.users'

    # Command Bus (wraps Symfony Messenger)
    App\Infrastructure\MessageBus\MessengerCommandBus:
        arguments:
            $commandBus: '@command.bus'

    App\Application\MessageBus\CommandBusInterface:
        alias: App\Infrastructure\MessageBus\MessengerCommandBus

when@test:
    services:
        # Make services public for testing
        MongoDB\Client:
            public: true
            arguments:
                - '%env(MONGODB_URL)%'

        App\Domain\Common\EventStore\EventStoreInterface:
            class: App\Infrastructure\Persistence\EventStore\DispatchingEventStore
            public: true
            arguments:
                $inner: '@App\Infrastructure\Persistence\MongoDB\MongoEventStore'
                $eventBus: '@event.bus'

        App\Domain\User\UserReadModelInterface:
            alias: App\Infrastructure\Persistence\MongoDB\MongoUserReadModel
            public: true

        App\Application\MessageBus\CommandBusInterface:
            alias: App\Infrastructure\MessageBus\MessengerCommandBus
            public: true
