# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # Command Handlers (routed to command.bus)
    App\Application\User\Command\RegisterUserHandler:
        tags:
            - { name: messenger.message_handler, bus: command.bus }

    App\Application\User\Command\LoginHandler:
        tags:
            - { name: messenger.message_handler, bus: command.bus }

    # Query Handlers (routed to query.bus)
    App\Application\User\Query\FindUserAuthDataByEmailHandler:
        tags:
            - { name: messenger.message_handler, bus: query.bus }

    # MongoDB Client
    MongoDB\Client:
        arguments:
            - '%env(MONGODB_URL)%'

    # MongoDB Collections
    mongodb.collection.events:
        class: MongoDB\Collection
        factory: ['@MongoDB\Client', 'selectCollection']
        arguments:
            - '%env(MONGODB_DATABASE)%'
            - 'events'

    mongodb.collection.users:
        class: MongoDB\Collection
        factory: ['@MongoDB\Client', 'selectCollection']
        arguments:
            - '%env(MONGODB_DATABASE)%'
            - 'users'

    # Event Store (MongoDB implementation wrapped with dispatcher)
    App\Infrastructure\Persistence\MongoDB\MongoEventStore:
        arguments:
            $collection: '@mongodb.collection.events'

    App\Domain\Common\EventStore\EventStoreInterface:
        class: App\Infrastructure\Persistence\EventStore\DispatchingEventStore
        arguments:
            $inner: '@App\Infrastructure\Persistence\MongoDB\MongoEventStore'
            $eventBus: '@event.bus'

    # Domain Services
    App\Infrastructure\Persistence\MongoDB\MongoCheckEmail:
        arguments:
            $collection: '@mongodb.collection.users'

    App\Domain\User\Service\CheckEmail:
        alias: App\Infrastructure\Persistence\MongoDB\MongoCheckEmail

    # Finders (read model queries)
    App\Infrastructure\Persistence\MongoDB\MongoFindUserAuthData:
        arguments:
            $collection: '@mongodb.collection.users'

    App\Application\User\Query\FindUserAuthData:
        alias: App\Infrastructure\Persistence\MongoDB\MongoFindUserAuthData

    # Projections
    App\Infrastructure\Projection\UserProjection:
        arguments:
            $collection: '@mongodb.collection.users'

    # Console Commands
    App\Infrastructure\Console\CreateMongoIndicesCommand:
        arguments:
            $eventsCollection: '@mongodb.collection.events'
            $usersCollection: '@mongodb.collection.users'

    # Command Bus (wraps Symfony Messenger)
    App\Infrastructure\MessageBus\MessengerCommandBus:
        arguments:
            $commandBus: '@command.bus'

    App\Application\MessageBus\CommandBusInterface:
        alias: App\Infrastructure\MessageBus\MessengerCommandBus

    # Query Bus (wraps Symfony Messenger)
    App\Infrastructure\MessageBus\MessengerQueryBus:
        arguments:
            $queryBus: '@query.bus'

    App\Application\MessageBus\QueryBusInterface:
        alias: App\Infrastructure\MessageBus\MessengerQueryBus

    # Password Hasher
    App\Application\Security\PasswordHasherInterface:
        alias: App\Infrastructure\Security\NativePasswordHasher

    # Clock (PSR-20 using Symfony Clock with UTC)
    Symfony\Component\Clock\NativeClock:
        arguments:
            - 'UTC'

    Psr\Clock\ClockInterface:
        alias: Symfony\Component\Clock\NativeClock

when@test:
    services:
        # Use MockClock for deterministic date/time in tests
        Symfony\Component\Clock\MockClock:
            public: true
            arguments:
                - '2025-12-12 12:00:00'
                - 'UTC'

        Psr\Clock\ClockInterface:
            alias: Symfony\Component\Clock\MockClock

        # Make services public for testing
        MongoDB\Client:
            public: true
            arguments:
                - '%env(MONGODB_URL)%'

        App\Domain\Common\EventStore\EventStoreInterface:
            class: App\Infrastructure\Persistence\EventStore\DispatchingEventStore
            public: true
            arguments:
                $inner: '@App\Infrastructure\Persistence\MongoDB\MongoEventStore'
                $eventBus: '@event.bus'

        App\Application\MessageBus\CommandBusInterface:
            alias: App\Infrastructure\MessageBus\MessengerCommandBus

# Test environment with invalid clock configuration (for compiler pass testing)
when@invalid_clock_test:
    services:
        Symfony\Component\Clock\NativeClock:
            arguments:
                - 'America/New_York'
